<html>
<head>
<% include header.partial %>
<title><%= title %></title>
<script>
  $(function() {
    $( "#datepicker" ).datepicker();
  });
  </script>

</head>

<body>
<p>
<h1>Edit Campaign</h1>
</p>

<section id="edit">
	<div class="edit-top-border"></div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-9 text-left">




<% campaigns.forEach(function(row){ %>
	
<form method='POST' action='/update_campaign'  enctype='multipart/form-data'>
	<input type='hidden' id='campaign_id' value='<%= row.id %>'/>
	<table>
	
		<tr>
			<td>SMS Text</td>
			<td><input type="text"  name = "sms" id="sms"  value="<%= row.sms %>" /></td>
		</tr>
		<tr><td>id</td><td><%= row.id %></td></tr>
		<input type="hidden" name="id" value="<%= row.id %>">
		<tr><td>Custom Connect Title</td><td>
		<input type="text" name="connectCustomTitle" value="<%= row.connectCustomTitle %>"/></td></tr>
		<tr><td>Connect Custom</td><td>
		<input type="text" maxlength="12" name="connectCustom" value="<%= row.connectCustom %>"/></td></tr>
		<tr><td>Send Date</td><td>
		<input type="text" name="day" id="datepicker" value="<%= row.day %>"/>
		</td></tr>
		<tr><td>Send Time</td><td>
		<input type="text" name="time" value="<%= row.time %>"/>
		</td></tr>
		
		<tr><td>MP3 File</td><td>
		<input type="file" name="mp3file" id="files"/>
		<br> <a href="/data/<%= row.audio %>">Currently set to <%= row.audio %></a>
		<input type="hidden" name="prevfile" value="<%= row.audio %>">
		</td>
		</tr>
		<tr><td align="left">Targets:
		</td><td><a href="/edit-campaign-targets?id=<%= row.id %>">Edit targets for this campaign</a>
		</tr>

		
		
		<tr><td></td><td><input type='submit' value='Save'/></td></tr>

	</table>

</form>
<hr/>
<%})%>
<% include footer-links.partial %>
<br><hr><br>
</body></html>