<html>
<head>
<% include header.partial %>

<title>Text App</title></head>
<body>

<div >
  <h3> Sign up for PK Mobile Action Alerts!</h3>
  Sometimes, things in Washington can change really quickly. Our mobile alert system sends your a text message when your elected officals need to hear from you most. We will never share your information with anyone else and only use this system at critical junctures. After you have signed up, please invite your friends to do the same!<br />
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  <p> <img src="http://www.publicknowledge.org/files/images/mobile%20action%20alert%20explination.002-001.preview.jpg" alt="" width="500" height="281" /></p>
  <p>For more information on PIPA and SOPA, check out our issue page on <a href="http://publicknowledge.org/issues/rogue-websites-legislation">Rouge Website Legislation.</a></p>
  <p><em>*As you might expect, Public Knowledge will never give away your phone number and will only contact you when it is most urgent. </em></p>
</div>
<a href="/signup">Click here to go to sign up page</a>


<p><a href="/login">Login to work on campaigns</a>.
</body>
</html>