<html>
<head>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<title><%= title %></title>

</head>

<body>
<p>
<h1>Thank you</h1>
</p>

<section id="edit">
	<div class="edit-top-border"></div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-9 text-left">

thank you for subscribing <%= subscriber.number %>

<hr/>


<br><hr><br>
</body></html>